# global options
{
	admin off
	persist_config off
	auto_https off
	log {
		output stdout
	}
}

(cors) {
	@cors_preflight_{args[0]} {
		method OPTIONS
		header Origin {args[0]}
	}

	@cors_{args[0]} header Origin {args[0]}

	handle @cors_preflight_{args[0]} {
		header {
			Access-Control-Allow-Origin "{args[0]}"
			Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
			Access-Control-Allow-Headers *
			Access-Control-Max-Age "3600"
			defer
		}
		respond "" 204
	}

	handle @cors_{args[0]} {
		header {
			Access-Control-Allow-Origin "{args[0]}"
			Access-Control-Expose-Headers *
			defer
		}
	}
}

:{$PORT} {
	trusted_proxies private_ranges
	
	import cors {$ORIGIN_0}
	import cors {$ORIGIN_1}
	import cors {$ORIGIN_2}
	import cors {$ORIGIN_3}
	import cors {$ORIGIN_4}

	reverse_proxy /* localhost:9000 {
		header_up Host {upstream_hostport}
		header_down Upgrade-Insecure-Requests "1"
		header_down Content-Security-Policy "upgrade-insecure-requests"
	}
}
